//Import de reset//
@import "general/reset";

//Import de variables//
@import "utilidades/variables";

//Import de listas//
@import "utilidades/listas";

//Import Mixin//
@import "utilidades/mixin";

//Import media query de tablet//
@import "general/mq-tablet";

//Import media query de tablet//
@import "general/mq-desktop";


//Uso Flexbox, Grid, Boostrap//
//Uso Nesting, mixin, variables//


header{

   @include flex;
    
    .img{
        width: $medida-img - 20;
    }

    .navbar {
        background-color: $color-bg-sf;
    }

    .navbar ul{
        @include flexnavbar;
        padding: 0;
        margin: 0;
        
    }
    .navbar li{
        margin: 0 15px;
    }
    .navbar a{
        color: $color-hd;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    .container{
        display: flex;
    }

    .sidebar {
        width: 25%;
        background-color: $color-bg;
        padding: 20 px;
    }
    .main-content{
        width: 75%;
        background-color: $color-bg;
        padding: 20px;
    }

    .nav-link:focus, .nav-link:hover {
        color: #eefd08;
    }
    
    .bg-body-tertiary {
        
        background-color: $color-bg-sf !important;
    }
    
    .btn-outline-success {
        --bs-btn-color: white;
        --bs-btn-border-color: #ffffff;
        --bs-btn-hover-color: #3b0808;
        --bs-btn-hover-bg: white;
        --bs-btn-hover-border-color: white;
    
    }

    .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
        color: $color-btm;
        background-color: #eefd08;
        border-color: $color-btm;
    }
    
    .navbar-toggler {
        background-color: $color-bg;
        color: white;
    }
    
    .navbar-toggler:focus {
        background-color: $color-bg;
        color: white;
        border: none;
    }

    @media (min-width: 1200px) {
        .navbar-toggler {
            
            border-bottom-color:nth($list-color, 12);;
        }
    }

}

//Main principal Usando Nesting//

main {
    
    @include main;
       
    .ofertas {

        @include grid (grid, auto auto, auto auto);
        flex-wrap: wrap;
        justify-content: center;
        color: nth($list-color, 11);
        row-gap: 2rem;
        padding: 1rem;
        margin: 0;
        
    }

    .btn:hover {
        color: nth($list-color, 12);
        background-color: $color-btm;
        border-color: nth($list-color, 11);
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #3b0808;
        --bs-btn-border-color: #3b0808;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #3b0808;
        --bs-btn-hover-border-color: #3b0808;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #3b0808;
        --bs-btn-active-border-color: #3b0808;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #3b0808;
        --bs-btn-disabled-border-color: #3b0808;
    }

    .carousel-caption {
        color:#eefd08;
    }
    
    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color: #3b0808;
        
    }
    
    .card-group{
        align-items: center;
        padding: 10px;
        
    }
    .col{
        padding: 10px;
        align-items: center;
    }

    .carouselExampleAutoplaying{
        align-items: center;
    }
    
    .card-body{
        text-align: center;
    }

    @media (min-width: 1200px) {
        .h2, h2 {
            font-size: 2rem;
            color: #3b0808;
        }
    }
    
   }

   //Estilo de mi section usando Flex y Nesting//

   section{

    @include section;
    background-color:$color-bg-sf;
    padding: 2%;
    color: white;
    gap: 25%;
    

        @media (min-width: 100px) {
            .h4, h4 {
                font-size: 1.5rem;
                color: #eefd08;
            }
        }
    
        .div {

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
    }
    
    //Estilo footer//

    footer{
        @include footer;
        color: white;
        background-color:$color-bg-sf;
        
        
    }

/* Uso de medias query para mobile */

@media (min-width: 320px) and (max-width: 480px)  {
    section {
      @include responsive;
    }
  }

  @media screen and (min-width: 320px)  {
    main {

        @include grid2 ((repeat (2,2fr)), (repeat (2,40%)))
        
    }
  }

  @media screen and (min-width: 320px)  {
    .ofertas {
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,40%);
    }
  }


/* Uso de medias query para tablet */

@media screen and (min-width: 600px) {
.ofertas {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,40%);
}
}

  @media screen and (min-width: 600px) {
    footer {
        @include responsive;
      
    }
  }

  /* Uso de medias query para desktop */

  @media (min-width: 768px) and (max-width: 1281px) {
    footer {
     @include responsive;
      align-items: center;
    }
  }

  @media (min-width: 100px) and (max-width: 1281px) {
    form {
      display:inline-block;
      flex-wrap:wrap;
    }
  }

   /* Uso de media query para todas las pantallas */

  @media screen and (min-width: 100px) and (max-width: 1281px) {
    img {
      width: $medida-img - 40;
    }
  }