// Variables de mi proyecto//

//Color fondo principal y header//
$color-bg:white;
$color-hd:white;

//Color fondo section y footer//
$color-bg-sf:#3b0808;

//Color botones//
$color-btm:#3b0808;
$color-btw:white;

//Font y colo de títulos y párrafos//
$color-font:#3b0808;
$font-family:"Vesper Libre", serif;

//medidas img//
$medida-img: 100%;